<div class="grid grid-cols-2 gap-4">
    <!-- First column: YouTube video -->
    <div class="border p-4">
        <!-- YouTube video here -->
        <iframe width="100%" height="315" [src]="getSafeUrl(videoUrl)" frameborder="0"
            allowfullscreen></iframe>
    </div>

    <!-- Second column: Insights -->
    <div class="border p-4">
        <!-- Video name and channel name -->
        <p class="font-bold my-2">Video Name:</p>
        <p>{{videoName}}</p>
        <p class="font-bold my-2">Channel:</p>
        <p>{{channelName}}</p>


        <!-- Second row: Insights details -->
        <div class="grid grid-cols-2 gap-4 mt-4">
            <div>
                <p class="font-bold">Views:</p>
                <p>{{views}}</p>
            </div>
            <div>
                <p class="font-bold">Likes:</p>
                <p>{{likes}}</p>
            </div>
            <div>
                <p class="font-bold">Engagement:</p>
                <p>{{engagement}}</p>
            </div>
            <div>
                <p class="font-bold">Comments:</p>
                <p>{{comments}}</p>
            </div>
        </div>
    </div>
</div>