.shrink-section {
  /* background-color: #d1d5db; */
  transition: all 0.4s ease;
  /* margin-left: 10rem;
  margin-right: 10rem; */
  height: 50%;
}

.shrink-section .text-4xl {
  transition: all 0.4s ease;
  font-size: 2rem;
}

.shrink-section .tile-section app-tile {

  /* transition: all 0.4s ease; */
  /* opacity: 0.5; */
  width: 11.5rem;

}