<!-- LAYOUT ----------- 
1. NAVBAR
2. PROFILE
3. UPLOADED VIDEO THUMBNAIL
4. VIDEO INSIGHTS - VIDEO TITLE, VIDEO LINK, VIDEO STATS, VIDEO DESCRIPTION, VIDEO COMMENT -->

<main class="mx-5 bg-blueGray-200">

  <app-navbar></app-navbar>
  <app-profile></app-profile>

  <div class=" pb-8" [class.shrink-section]="selectedTile !== null">
    <p class="text-4xl text-center py-8">YouTube Video Insight</p>
    <div class="tile-section flex flex-wrap justify-center">

      <!-- STATIC RENDERING --- Single tile component -->
      <!-- <app-tile [isSelected]="selectedTile === 1" (click)="toggleTile(1)" class="cursor-pointer"></app-tile> -->


      <!-- DYNAMIC RENDERING --- app-tile components using *ngFor -->
      <app-tile *ngFor="let tile of tilesData" 
        [isSelected]="selectedTile === tile.index"
        (click)="toggleTile(tile.index)" 
        [thumbnail]="tile.thumbnail" 
        [title]="tile.title" 
        class="cursor-pointer">
      </app-tile>
    </div>
  </div>

  <app-insights *ngIf="selectedTile !== null"></app-insights>
</main>