<!-- LAYOUT ----------- 
1. NAVBAR
2. PROFILE
3. UPLOADED VIDEO THUMBNAIL
4. VIDEO INSIGHTS - VIDEO TITLE, VIDEO LINK, VIDEO STATS, VIDEO DESCRIPTION, VIDEO COMMENT -->

<main class="mx-5 bg-blueGray-200">

  <app-navbar></app-navbar>
  <app-profile></app-profile>

  <div class=" pb-8" [class.shrink-section]="selectedTile !== null">
    <p class="heading text-4xl text-center font-bold py-8">YouTube Video Insight</p>
    <div class="tile-section flex flex-wrap justify-center">

      <!-- STATIC RENDERING --- Single tile component -->
      <!-- <app-tile [isSelected]="selectedTile === 1" (click)="toggleTile(1)" class="cursor-pointer"></app-tile> -->


      <!-- DYNAMIC RENDERING --- app-tile components using *ngFor -->
      <app-tile *ngFor="let tile of tilesData" 
        [isSelected]="selectedTile === tile.index"
        (click)="toggleTile(tile.index)" 
        [thumbnail]="tile.thumbnail" 
        [title]="tile.title" 
        class="cursor-pointer"
        [class.opacity-reduced]="selectedTile !== null && selectedTile !== tile.index">
      </app-tile>
    </div>
  </div>

  <app-insights *ngIf="selectedTile !== null && insightsData[selectedTile - 1]"
    [videoName]="insightsData[selectedTile - 1].videoName || ''"
    [channelName]="insightsData[selectedTile - 1].channelName || ''"
    [views]="insightsData[selectedTile - 1].views || ''" 
    [likes]="insightsData[selectedTile - 1].likes || 0"
    [engagement]="insightsData[selectedTile - 1].engagement || 0"
    [comments]="insightsData[selectedTile - 1].comments || 0"
    [videoUrl]="insightsData[selectedTile - 1].videoUrl || ''"
    ></app-insights>
</main>